/*
** Media Queries
*/
$mq_tablet: 768px;
$mq_pc: 1024px;

/*
** Fonts
*/
// font-family
@font-face {
	font-family: 'Adumu';
	src: url('~assets/font/Adumu.woff') format('woff'),
    url('~assets/font/Adumu.ttf') format('truetype');
}
$font_main: -apple-system, "Segoe UI", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic Pro", メイリオ, meiryo, sans-serif;
$font_accent: 'Adumu';
$font_sub: "Quicksand","Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;

// font-size
$fontSize_base: 16px;
$fontSize_s: .8rem;
$fontSize_l: 1.5rem;
$fontSize_2l: 2rem;
$fontSize_3l: 2.5rem;
$fontSize_4l: 3rem;

/*
** Colors
*/
// main
$color_navy: #4e5cc4;
// accent
$color_red: #f28282;
// others
$color_white: #fff;
$color_gray: #666;
$color_black: #000;
$color_blue: #6bb6ff;
$color_green: #40ce9a;
$color_orange: #ffb36b;
$color_pink: #ff6bf3;

$colors: (
  $color_black,
  $color_blue,
  $color_green,
  $color_red,
  $color_pink,
  $color_orange
);
