/*
** Fonts
*/
@font-face {
	font-family: 'Adumu';
	src: url('~assets/font/Adumu.woff') format('woff'),
    url('~assets/font/Adumu.ttf') format('truetype');
}
$font_main: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
$font_accent: 'Adumu';

/*
** Colors
*/
// main
$color_navy: #4e5cc4;
// accent
$color_red: #f28282;
// others
$color_blue: #6bb6ff;
$color_green: #40ce9a;
$color_orange: #ffb36b;
$color_pink: #ff6bf3;

/*
** Media Queries
*/
$mq-tablet: 768px;
$mq-pc: 1024px;
