/*
** 要素のベーススタイル
*/
body {
  background-color: white;
  font-family: $font_main;
}

a {
  color: $color_red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: initial;
  }
}
