$main-font: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
$accent-font: 'Adumu';

// colors
$main-color: #4e5cc4;
$accent-color: #f28282;
$blue-color: #6bb6ff;
$green-color: #40ce9a;
$orange-color: #ffb36b;
